In [40]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
import sys
sys.path.append('../')

# Function that get movie recommendations based on the cosine similarity score of movie genres
def top_sims(cosine_sim, df, filter_col, movie, n):

    # Build a 1-dimensional array with movie titles
    ids = df[filter_col]
    #print(ids)
    indices = pd.Series(meta.index, index=meta[filter_col])
    idx = indices[movie]
    
    # Calculate Top N Similarity Scores
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:n+1]
    movie_indices = [i[0] for i in sim_scores]
    return movie_indices

# Function which finds the most similar movies for every movie in dataframe
def find_similarities(train_file, similarity_file, filter_col, sim_column, n):
    # Training/DF we were given
    movies = pd.read_csv(train_file)
    movie_ids = movies.movie.unique() #Unique ids
    
    # Make ids strings
    str_ids = map(str, movie_ids)
    str_ids = list(str_ids)

    # Secondary dataframe with more detail which is able to compute similarities
    meta = pd.read_csv(similarity_file)
    meta = meta[meta[filter_col].isin(str_ids)]
    similarity = meta[sim_column]

    # Find tf_idf for items in secondary df
    tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
    tf_idf = tf.fit_transform(similarity)
    
    # Compute cosine similarity on items in secondary df
    cosine_sim = linear_kernel(tf_idf, tf_idf)

    meta = meta.reset_index()
    
    # Find the top n most similar items for every movie that is in both our training dataframe and our 
    sim_list = []
    for movie in meta[filter_col].tolist():
        sim_list.append(top_sims(cosine_sim, meta, filter_col, movie, n))

    meta['similar'] = sim_list
    return meta[[filter_col, 'similar']]

    
    
find_similarities('../data/training.csv', '../the-movies-dataset/movies_metadata.csv', 'id', 'genres', 20)

        id                                            similar
0      862  [179, 525, 743, 1411, 1446, 107, 871, 1260, 13...
1      949  [75, 82, 630, 681, 730, 947, 957, 1145, 1278, ...
2      710  [100, 293, 299, 314, 416, 505, 506, 507, 594, ...
3     1408  [356, 1265, 1696, 591, 106, 1627, 1658, 190, 2...
4      524  [51, 77, 109, 116, 203, 209, 214, 386, 702, 74...
5        5  [626, 240, 472, 278, 833, 163, 237, 277, 430, ...
6      451  [18, 24, 31, 76, 79, 81, 128, 153, 155, 160, 2...
7      902  [1216, 1499, 1726, 814, 1544, 685, 1649, 447, ...
8       63  [390, 456, 1161, 804, 328, 1208, 797, 306, 17,...
9      687  [16, 22, 42, 63, 101, 104, 133, 136, 144, 173,...
10     577  [403, 508, 280, 1349, 369, 1335, 870, 464, 666...
11     807  [129, 166, 792, 1133, 1310, 1428, 98, 161, 226...
12    2054  [623, 1423, 382, 473, 1082, 1570, 282, 1575, 1...
13     755  [1331, 1367, 1470, 1458, 1603, 1729, 936, 73, ...
14     880  [46, 57, 239, 572, 590, 781, 836, 918, 1136, 1...
15    2086  [94, 97, 111, 284, 360, 389, 552, 712, 886, 93...
16     406  [16, 22, 42, 63, 101, 104, 133, 136, 144, 173,...
17    2045  [328, 1208, 804, 755, 8, 390, 456, 1161, 306, ...
18     688  [18, 24, 31, 76, 79, 81, 128, 153, 155, 160, 2...
19     197  [824, 1217, 618, 83, 180, 410, 954, 1117, 1182...
20     103  [165, 197, 231, 242, 370, 444, 490, 512, 614, ...
21    2074  [35, 119, 125, 127, 130, 140, 150, 290, 320, 4...
22     568  [16, 22, 42, 63, 101, 104, 133, 136, 144, 173,...
23     414  [294, 273, 1384, 298, 1228, 1369, 64, 920, 107...
24     649  [18, 24, 31, 76, 79, 81, 128, 153, 155, 160, 2...
25    1873  [40, 86, 154, 182, 437, 441, 668, 677, 678, 72...
26    1572  [30, 49, 113, 159, 266, 482, 568, 674, 849, 11...
27    2293  [96, 334, 438, 672, 33, 733, 806, 855, 961, 13...
28    1642  [679, 523, 981, 786, 1204, 98, 161, 226, 248, ...
29     281  [87, 216, 227, 484, 1398, 296, 983, 1412, 1160...
...    ...                                                ...
1706  3941  [112, 157, 164, 229, 245, 286, 308, 478, 479, ...
1707  1659  [193, 199, 235, 247, 501, 554, 605, 692, 693, ...
1708  1652  [237, 277, 430, 436, 544, 894, 956, 1147, 1211...
1709  1655  [112, 157, 164, 229, 245, 286, 308, 478, 479, ...
1710    30  [1041, 1179, 241, 1730, 1467, 279, 1617, 649, ...
1711  3786  [1634, 1664, 1140, 1129, 196, 576, 550, 750, 1...
1712  3698  [199, 235, 247, 501, 554, 605, 692, 693, 891, ...
1713  2324  [16, 22, 42, 63, 101, 104, 133, 136, 144, 173,...
1714  3479  [650, 752, 883, 943, 1092, 1714, 222, 224, 388...
1715  1609  [112, 157, 164, 229, 245, 286, 308, 478, 479, ...
1716  3144  [636, 1083, 1524, 1716, 665, 1080, 1468, 412, ...
1717   932  [16, 22, 42, 63, 101, 104, 133, 136, 144, 173,...
1718  3159  [258, 261, 347, 448, 662, 865, 1001, 1119, 113...
1719  1608  [16, 22, 42, 63, 101, 104, 133, 136, 144, 173,...
1720   286  [784, 817, 852, 872, 910, 1176, 1178, 1189, 12...
1721  2459  [112, 157, 164, 229, 245, 286, 308, 478, 479, ...
1722  1848  [1126, 1431, 11, 129, 166, 792, 1133, 1310, 14...
1723  1596  [723, 1382, 1723, 65, 407, 610, 1084, 1503, 15...
1724  3427  [381, 387, 546, 720, 1245, 1495, 1724, 25, 40,...
1725  1631  [16, 22, 42, 63, 101, 104, 133, 136, 144, 173,...
1726  3003  [1499, 1726, 685, 7, 1649, 447, 1026, 1599, 15...
1727  2132  [112, 157, 164, 229, 245, 286, 308, 478, 479, ...
1728  3210  [451, 454, 807, 925, 1029, 1054, 1124, 1277, 1...
1729  2104  [1603, 1729, 1331, 13, 1427, 230, 275, 346, 86...
1730  2791  [1041, 1179, 701, 1710, 241, 324, 608, 1253, 1...
1731  2154  [204, 1731, 933, 442, 1585, 1597, 413, 879, 14...
1732  2286  [968, 302, 952, 1476, 483, 757, 837, 884, 971,...
1733  3178  [16, 22, 42, 63, 101, 104, 133, 136, 144, 173,...
1734  2331  [1478, 1565, 1635, 1734, 911, 801, 1009, 1188,...
1735  3104  [451, 454, 807, 925, 1029, 1054, 1124, 1277, 1...

[1736 rows x 2 columns]

/Users/owner/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1736,)

<1736x105 sparse matrix of type '<class 'numpy.float64'>'
	with 22366 stored elements in Compressed Sparse Row format>

(1736, 1736)

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
5        [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
9        [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
14       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15       [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
17       [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
24       [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
28       [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
31       [{'id': 878, 'name': 'Science Fiction'}, {'id'...
35                           [{'id': 18, 'name': 'Drama'}]
44       [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
46       [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...
61       [{'id': 10402, 'name': 'Music'}, {'id': 18, 'n...
69       [{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...
81       [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...
88       [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
95                           [{'id': 18, 'name': 'Drama'}]
101      [{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...
103      [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
108      [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
109      [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
123      [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
147                          [{'id': 18, 'name': 'Drama'}]
150      [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
151      [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
152      [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
162      [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
177      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
182      [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
195      [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
                               ...
38093                       [{'id': 35, 'name': 'Comedy'}]
38096    [{'id': 35, 'name': 'Comedy'}, {'id': 37, 'nam...
38097    [{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...
38098                       [{'id': 35, 'name': 'Comedy'}]
38451    [{'id': 16, 'name': 'Animation'}, {'id': 878, ...
38570    [{'id': 878, 'name': 'Science Fiction'}, {'id'...
38998                      [{'id': 37, 'name': 'Western'}]
40113                        [{'id': 18, 'name': 'Drama'}]
40447    [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...
40643                       [{'id': 35, 'name': 'Comedy'}]
41234    [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
41312                        [{'id': 18, 'name': 'Drama'}]
41522                       [{'id': 27, 'name': 'Horror'}]
41693                        [{'id': 18, 'name': 'Drama'}]
42583                  [{'id': 99, 'name': 'Documentary'}]
42948                       [{'id': 35, 'name': 'Comedy'}]
42987    [{'id': 9648, 'name': 'Mystery'}, {'id': 80, '...
43006    [{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...
43166                     [{'id': 53, 'name': 'Thriller'}]
43322                        [{'id': 18, 'name': 'Drama'}]
43766    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
43836                       [{'id': 35, 'name': 'Comedy'}]
44256    [{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...
44354    [{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...
44480    [{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...
44485    [{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...
44915    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
44984                        [{'id': 18, 'name': 'Drama'}]
44995    [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
45353    [{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...
Name: genres, Length: 1736, dtype: object