## **NAME REDACTED**: Recommender System Case Study

**Imports and configuration**

In [1]:
import os
os.chdir('..')
from src.util import *
from src.recommender import MovieRecommender
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

### Generate random sample and save train-test .csv files

In [3]:
generate_file_split(random_subset(10000), 0.8)

In [4]:
train_data = pd.read_csv('data/ctrain.csv')
test_data = pd.read_csv('data/ctest.csv')
request_data = pd.read_csv('data/crequests.csv')

In [5]:
train_data.head()

   user  movie  rating
0  6040   2019       5
1  6040    326       4
2  6037   3359       4
3  6036   3224       4
4  6036    951       4

In [6]:
test_data.head()

   user  movie  actualrating
0  1563   1219             5
1  1591   2243             5
2  1587    455             3
3  1563    913             5
4  1565   1923             2

In [7]:
request_data.head()

   user  movie
0  1563   1219
1  1591   2243
2  1587    455
3  1563    913
4  1565   1923

### Fit recommender model

In [8]:
reco_instance = MovieRecommender()
fit_model = reco_instance.fit(train_data)

### Generate rating predictions

In [9]:
predictions = reco_instance.transform(request_data)

In [10]:
predictions.head()

   user  movie    rating
0   660    463  3.599625
1  1835    471  3.599625
2  1150    471  3.599625
3  1010   1088  3.599625
4   816   1088  3.599625

### Evaluate model

In [11]:
RMSE(predictions, test_data)

/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3772: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

nan

In [12]:
violin_plot(predictions, test_data)

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match